@use '../variables' as *;
@use '../mixins' as *;

.hero{
  position: relative;
  color: $bodyColor; 
  margin-bottom: 72px;
  &__info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__title{
    font-size: 72px;
    line-height: 88%;
    font-weight: normal;
    letter-spacing: -0.02em;
  }
  &__text{
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 130%;
  }
  // cascade
  .swiper-button-prev,
  .swiper-button-next{
    color: $bodyColor;
  }
  img{
    display: block;
  }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal{
      padding: 13px 24px;
      bottom: 39px;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 8px;
      border-radius: 16px;
      display: flex;
      gap: 8px;
      width: fit-content;
      left: 50%;
      transform: translateX(-50%);
      &>.swiper-pagination-bullet{
        margin: 0;
        width: 6px;
        height: 6px;
        cursor: pointer;
        &.swiper-pagination-bullet-active{
          background-color: $bodyColor;
        }
      }
  }
}