.cart-popup
  header.cart-popup__header
    h2 Корзина
    button.cart-popup__close ✕
  .cart-popup__panel
    .cart-popup__count
    button.cart-popup__clear Очистить список
  .cart-popup__content
  footer.cart-popup__footer
    .cart-popup__summary
    button.cart-popup__order Оформить заказ
.cart-popup__overlay