section.contacts
  .contacts__container.contacts__info
    h2.contacts__title Контакты
    .contacts__items
      .contacts__item
        .contacts__item-box
          i 
            +icon('map')
          span Офис, где делают странные, но симпатичные вещи
      .contacts__item
        .contacts__item-box
          i 
            +icon('clock')
          span Пн-Пт с 10:00 до 20:00
      .contacts__item
        a.contacts__item-box(href="tel:8 (800) 444 44 44")
          i 
            +icon('tel')
          span 8 (800) 444 44 44
        a.contacts__item-box(href="tel:8 (800) 888 88 88")
          i 
            +icon('tel')
          span 8 (800) 888 88 88
      .contacts__item
        a.contacts__item-box(href="maolto:example@mail.ru")
          i
            +icon('mail')
          span example@mail.ru         
    a.btn.contacts__submit(href="javascript;" onclick="return false")
      span.btn__text Связться
      i.btn__icon
        +icon('arrow_white')
  .contacts__container.contacts__map#map
