section.form
  aside.form__info
    h2.form__title Если вы тоже решили #[br]«а почему бы и нет»
    ul.form__list
      li.form__list-item Можно заказать много
      li.form__list-item Доступ возможен через северный интерфейс
      li.form__list-item Можно просто поболтать
  .form__content
    +input('text','first_name','',{placeholder:'Имя',autocomplete:"first_name"},'','user')
    +input('tel','user_phone','',{placeholder:'Телефон',autocomplete:"user_fone"},'','phone')
    +checkbox(
      'checkbox',
      'accept',
      'accept',
      'Согласен(-на) на обработку чего угодно — лишь бы форма работала',
      'form__accept',
      true
      )
    btn.btn.btn--light.form__submit(type="submit" onclick="return false")
      span.btn__text Отправить
      i.btn__icon
        +icon('arrow-green')