- 
  items = [
    { text: 'Продукты', href: '#' },
    { text: 'Цвета', href: '#' },
    { text: 'Вдохновение', href: '#' },
    { text: 'Советы', href: '#' },
    { text: 'Найти магазин', href: '#' }
  ]
- 
  breadcrumbs = [
    { text: 'Главная', href: '#' },
    { text: 'Продукты', href: '#' },
    { text: 'Краски', href: '#' }    
  ]
- 
  icons = [
    { icon: 'search'},
    { icon: 'user'},
    { icon: 'heart'},
  ]

header.header
  .container.header__container
    .header__burger #[span]
    a.header__logo(href="/" aria-label="Главная")
      +icon('logo')
    +menu(items, 'header')
      span
    .header__contact
      a.header__phone(href="tel:+7 (495) 221-77-69") +7 (495) 221-77-69
      span.header__contact-text Заказать звонок
    .header__icons
      each item in icons
        span(class=`header__icon header__icon--${item.icon}`)
          +icon(item.icon)
      span#cart.header__icon.header__icon--cart 0
  .container.breadcrumbs
    +menu(breadcrumbs, 'breadcrumbs')
h1.main-title.container Краски    