
- 
  items = [
    { text: 'Кейсы', href: '#' },
    { text: 'компания', href: '#' },
    { text: 'Услуги', href: '#' },
    { text: 'Контакты', href: '#' }
  ]

- 
  socials = [
    { name: 'facebook', href: '#' },
    { name: 'instagram', href: '#' },
    { name: 'linkedin', href: '#' },
    { name: 'telegram', href: '#' }
  ]

section.hero
  .hero__top-pattern
  .hero__rect.shape(shape-speed="0.02")
  .hero__rect.hero__rect--bottom.shape(shape-speed="0.04")
  .hero__rect.hero__rect--right.shape(shape-speed="0.03")
  header.hero__header
    .hero__burger
      span
    +menu(items, 'hero')
    .hero__dots
      span 
      span 
      span 
  .hero__info
    .hero__info-box
      .hero__info-text
        .hero__info-text-after
        h1.hero__title IT CRON
        h3.hero__desc Проектно-продуктовый подход #[br]к оказанию IT-услуг
      .hero__socials
        .hero__socials-pattern
        .hero__socials-links
          each social in socials
            a.hero__socials-link(href=social.href area-label=social.name)
              +iconFont(social.name)
