section.preview 
  header.preview__header
    h2.preview__title Это — не совсем то, что вы думаете
    .preview__slider-nav
      .preview__slider-btn.preview__slider-prev 
       
      .preview__slider-btn.preview__slider-next
       
  .swiper.preview__slider
    .swiper-wrapper
      .swiper-slide.preview__slide
        .preview__slide-content.card
          h3.preview__slide-title Немного упругости
          p.preview__slide-text Чуть-чуть сияния, и ощущение, что вы о себе позаботились        
        picture
          img(src="assets/images/slide.jpg" srcset="assets/images/slide.avif 1x,assets/images/slide@2x.avif 2x")
      .swiper-slide.preview__slide
        .preview__slide-content.card
          h3.preview__slide-title Немного упругости
          p.preview__slide-text Чуть-чуть сияния, и ощущение, что вы о себе позаботились
        picture
          img(src="assets/images/slide2.jpg" srcset="assets/images/slide2.avif 1x,assets/images/slide2@2x.avif 2x")
      .swiper-slide.preview__slide
        .preview__slide-content.card
          h3.preview__slide-title Немного упругости
          p.preview__slide-text Чуть-чуть сияния, и ощущение, что вы о себе позаботились      
        picture
          img(src="assets/images/slide3.jpg" srcset="assets/images/slide3.avif 1x,assets/images/slide3@2x.avif 2x")
      .swiper-slide.preview__slide
        .preview__slide-content.card
          h3.preview__slide-title Немного упругости
          p.preview__slide-text Чуть-чуть сияния, и ощущение, что вы о себе позаботились      
        picture
          img(src="assets/images/slide4.jpg" srcset="assets/images/slide4.avif 1x,assets/images/slide4@2x.avif 2x")
      .swiper-slide.preview__slide
        .preview__slide-content.card
          h3.preview__slide-title Немного упругости
          p.preview__slide-text Чуть-чуть сияния, и ощущение, что вы о себе позаботились        
        picture
          img(src="assets/images/slide.jpg" srcset="assets/images/slide.avif 1x,assets/images/slide@2x.avif 2x")
