- const slides = Array(6).fill({ title: 'Краски', text: 'Идеально подходят для стен и других поверхностей.<br>Найди свой идеальный цвет!', img: 'bg' })

section.hero 
  .swiper.hero__slider
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next
    .swiper-wrapper
      each slide in slides
        +heroSlide(slide.title, slide.text, slide.img)

