section.hero
  aside.hero__info
    h1.hero__title Просто #[br.hidden-xs]потому #[br]что можем
    p.hero__text.hidden-md Мы запустили основной цикл в 06:42. #[br]Результаты наблюдаются, но не зафиксированы. #[br]Рекомендуем сохранять спокойствие до #[br]следующего сигнала.
    p.hero__text.hidden-sm Мы сделали это средство не ради прибыли, #[br]а из любви к красивым словам. Один стик #[br]в день — и вы чувствуете, что делаете что-то #[br]важное. Что именно — решать вам. #[br]и красивой!
    a.btn.hero__btn(href="javascript;" onclick="return false")
      span.btn__text Попробовать просто так
      i.btn__icon.btn__icon--hero
        +icon('arrow_white')
  .hero__footer
    .hero__footer-item Сертификат есть. Но это не точно.
    .hero__footer-item СГР №AM.01.01 #[br.hidden-sm].01.003.R.00 o47 4.06.24
