@font-face {
  font-family: 'Geometria';
  src: 
    url('/assets/fonts/Geometria-Regular.woff2') format('woff2'),
    url('/assets/fonts/Geometria-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: 
    url('/assets/fonts/Geometria-Medium.woff2') format('woff2'),
    url('/assets/fonts/Geometria-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamPro';
  src: 
    url('/assets/fonts/GothamPro-Black.woff2') format('woff2'),
    url('/assets/fonts/GothamPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}