// Fonts
$Geometria : 'Geometria', sans-serif;
$GothamPro : 'GothamPro', sans-serif;

// Colors
$bodyBgColor:#131212;
$primaryColor:#FFFFFF;
$orange:#FB6542;


// Breakpoints
$xs: 480px;
$sm: 767px;
$lg: 1023px;
$xl: 1335px;