// Fonts
$inter : 'Inter', sans-serif;
$gropled : 'Gropled', sans-serif;

// Colors
$bodyColor:#FFFFFF;
$dark:#1F2020;
$green:#7BB899;
$lightgray:#F2F2F2;
$new:#31768F;
$sale:#DA0025;
$contract:#763A26;


// Breakpoints
$mdl: 1200px;
$md: 1199px;
$sml: 960px;
$sm: 959px;
$xsl: 640px;
$xs: 639px;
$xxs: 479px;