// Fonts
$tildaSans : 'TildaSans-VF', sans-serif;
$gropled : 'Gropled', sans-serif;

// Colors
$bodyColor:#F6F6F6;
$dark:#2E2D2B;
$light:#FFFFFF;
$accent:#1F8B48;
$placeholder:#2E2D2B;


// Breakpoints
$mdl: 1200px;
$md: 1199px;
$sml: 960px;
$sm: 959px;
$xsl: 640px;
$xs: 639px;
$xxs: 479px;