mixin menu(items, className = '')
  ul(class=className ? `${className}__menu` : 'menu')
    each item in items
      li(class=[`${className}__menu-item`, item.active ? 'active' : ''].join(' '))
        a(href=item.href class=`${className}__menu-link`)= item.text