extends ../layouts/default.pug

block content
  include ../includes/header.pug  
  include ../includes/top.pug  
  include ../includes/slider.pug  
  include ../includes/form.pug  
  include ../includes/contacts.pug  
  include ../includes/footer.pug  



