include ../mixins/icon.pug
include ../mixins/menu.pug
include ../mixins/input.pug
include ../mixins/checkbox.pug
include ../mixins/slider.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title ITS-AGENCY
    link(rel="stylesheet" href="/styles/main.scss")    
  body
    #preloader
      .spinner
        img(src="assets/images/preloader.svg", alt="")
    .wrapper
      main.content 
        block content
    script(type="module" src="/scripts/main.js")